$ff: 'Helvetica', sans-serif;
$font2: 'Roboto', sans-serif;;

$color-text: #3D5170;
$color-label: #495057;
$color-grey-font: #5A6169;
$color-background: #F5F6F8;
$color-border: #BECAD6;
$color-bg-hover: #FBFBFB;
$color-icon-not-active: #CACEDB;
$color-search-input: #767F9D;
$color-dropdown-placeholder: #868E96;
$color-button-confirm: #007BFF;
$color-button-cancel: #E9ECEF;
$color-button-delete: #CB3656;
$color-grey-middle-font: #868E96;
$color-grey-middle: #818EA3;
$color-notification-circle: #C4183C;
$color-dropdown-icon: #ABB6BF;
$color-blue: #007BFF;
$color-red: #C4183C;
$color-black: #121212;
$color-green: #0ec261;
$color-white: #FFFFFF;
$color-grey-light: #EEEEEE;
$color-grey: #999999;

$media: screen;
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 320px;